# Build directories
target/

# IDE_IntelliJ IDEA/Eclipse and editor files
.idea/
*.iws
*.iml
*.ipr
.project
.classpath
/.settings/

# Java Documentation
doc/

# Reports and test results
test-output/
extent-test-output/

